@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}

body{
    background-color: hsl(0, 0%, 98%);
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
  
}
.text{
    text-align: center;
    margin-bottom: 40px;
}
h2{
    font-weight:200 ;
    font-size: 32px;
    color: hsl(234, 12%, 34%);
}

h1{
    font-weight:600;
    color: hsl(234, 12%, 34%);
    margin-bottom: 20px;
}

p{
    font-weight:400 ;
    color: hsl(229, 6%, 66%);
    width: 550px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}
.card{
    background-color:  hsl(0, 0%, 98%);
    width: 296px;
  height: 210px;
  padding: 30px;
  margin: 20px 15px;
  border-radius: 5px;
  box-shadow: 5px 5px  10px rgba(133, 133, 133, 0.842)  ;
  position: relative;

}
h4{
    color:  hsl(234, 12%, 34%);
    margin-bottom: 10px;
}
h6{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}
img{
    width: 50px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.team{
    border-top: 4px hsl(0, 78%, 62%) solid;
}
.super{
    border-top: 4px hsl(180, 62%, 55%) solid;
}
.karma{
    border-top: 4px hsl(34, 97%, 64%) solid;
}
.calc{
    border-top: 4px hsl(212, 86%, 64%) solid;
}

.attribution{
    text-align: center;
    display: inline-block;
    width: 100%;
}